# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
codestyles/
_linux/
diff.xml
vcs.xml
filetypes.xml
debugger.xml
baseRefactoring.xml
clase1db
*.DB
*.transaction
*.ipr
